<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>게시판</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/headers/">
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/headers.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="css/bootstrap.css" rel="stylesheet">
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <!-- Custom styles for this template -->

    <link href="static/css/headers.css" rel="stylesheet">
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/bootstrap.bundle.js"></script>
    <script src="js/bootstrap.js"></script>
</head>
<body>
<main>


    <header class="p-3 bg-dark text-white">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
                        <use xlink:href="#bootstrap"/>
                    </svg>
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="#" class="nav-link px-2 text-secondary">Home</a></li>
                    <li><a href="/post/postList" class="nav-link px-2 text-white">Post</a></li>
                    <li><a href="#" class="nav-link px-2 text-white">Pricing</a></li>
                    <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
                    <li><a href="#" class="nav-link px-2 text-white">About</a></li>
                </ul>

                <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                    <input type="search" class="form-control form-control-dark" placeholder="Search..."
                           aria-label="Search">
                </form>

                <div class="text-end">
                    <button type="button" class="btn btn-outline-light me-2"
                            th:onclick="|location.href='@{/members/login}'|"
                    >Login
                    </button>
                    <button type="button" class="btn btn-warning"
                            th:onclick="|location.href='@{/members/join}'|"
                    >Sign-up
                    </button>
                </div>
            </div>
        </div>
    </header>

</main>

<div class="container">
    <table class="table table-hover">
        <h3>게시판</h3>
        <form class="form-inline d-flex justify-content-end" method="GET" , th:action="@{/post/postList}"
              th:value="${param.searchText}">
            <div class="form-group mx-sm-3 mb-2 pull-right">
                <label for="searchText" class="sr-only">검색</label>
                <input type="text" class="form-control" id="searchText" name="searchText">
                <button type="submit" class="btn btn-primary mb-2">검색</button>
            </div>
        </form>
        <thead>
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>날짜</th>
            <th>조회수</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="post : ${posts}" th:onclick="|location.href='@{/post/postContent/{postId}(postId=${post.Id})}'|"
        >
            <td><span th:text="${post.id}"></span></td>
            <td th:text="${post.title}"></td>
            <td th:text="${post.createdBy}"></td>
            <td th:text="${post.description}"></td>
            <td th:text="${post.countVisit}"></td>
        </tr>
        </tbody>
    </table>

    <hr/>
    <button type="button" class="btn btn-default pull-right" onclick="location.href='/post/postForm'">글쓰기</button>

    <div class="center text-center">
        <nav aria-label="Page navigation example">
            <ul class="pagination justifiy-content-center" th:if="${totalPage != 0}">
                <li class="page-item"><a class="page-link"
                                         th:href="@{/post/postList(page=${posts.pageable.pageNumber - 1}, searchText=${param.searchText})}">Previous</a>
                </li>
                <li class="" th:classappend="${page == posts.pageable.pageNumber + 1} ? 'disabled'"
                    th:each="page : ${#numbers.sequence(startPage, endPage)}">
                    <a th:href="@{/post/postList(page=${page - 1}, searchText=${param.searchText})}"
                       th:text="${page}"></a>
                </li>
                <li class="page-item"><a class="page-link"
                                         th:href="@{/post/postList(page=${posts.pageable.pageNumber + 1}, searchText=${param.searchText})}">Next</a>
                </li>
            </ul>
        </nav>
    </div>

</div>
<div class="text-center">
    <ul class="pagination">

    </ul>
</div>

<script src="static/js/bootstrap.bundle.min.js"></script>
</body>
</html>
